body
{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    left: 0px;
    top: 0px;
    background-color: #4B5D67;
}

.heading
{
    position: absolute;
    margin-top: 0px;
    background-color: #A1CAE2;
    height: 100px;
    width: 100%;
    top: 0px;
}
.daa{
    text-align: center;
    padding-top: 5px;
    width: 50vw;
    position: relative;
    left: 25vw;
    right: 25vw;
    border-radius: 20px;
    background-color: #E4BAD4;
    transition-duration: 1000ms;
}
.daa:hover
{
    background-color: #D800A6;
}
.mid{
    margin-top: 150px;
    position: relative;
}
.daa1{
   
    text-align: center;
    padding-top: 5px;
    width: 50vw;
    position: relative;
    left: 25vw;
    right: 25vw;
    border-radius: 20px;
    background-color: #6ECB63;
    transition-duration: 1000ms;
}
.daa1:hover
{
    background-color: #3E8E7E;
}
.document{
    height: 30px;
    width: 30px;
}
.base{
    margin-bottom: 0px;
    background-color: #A1CAE2;
    height: 100px;
    width: 100vw;
    position: relative;
    bottom: 0px;
}
#cns{
    margin-top: 20px;
}
